body {
    font-family: "PingFang SC";
    user-select: none;
    background: url('../assets/bg.png')
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {

}

.subtitle {
    padding: 3px 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    width: 130px
}

.title {
    display: flex;
    padding: 20px 90px;
}

.title i {
    margin: 0 8px;
    font-weight: 900;
    font-size: 24px;
}

.desc {
    color: #666;
    height: 40px;
    padding: 10px;
    font-size: 15px;
}

.hid {
    transform: rotateX(90deg);
    height: 0;
}

.arrow {
    transition: all .1s;
}

.expended {
    height: auto;
    transform: rotateX(180deg);
    padding: 10px;
}

.pj-wrap {
    display: flex;
}

.pj-wrap {

}

.pj-menu {
    width: 130px;
}

.menu-item {
    border-radius: 100px;
    border: 2px solid #4bc4ff;
    height: 24px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.pj {
    width: 870px;
    flex-wrap: wrap;
}

.project {
    padding: 0;
    width: 286px;
    height: 180px;
    margin: 2px;
    box-sizing: border-box;
    background-size: 100%;
    transition: all .5s;
    filter: brightness(.7);
}
.project:hover {
    filter: brightness(1);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5) inset;
}

.name {
    text-align: center;
    padding: 4px;
    margin: 28px 85px 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

a, a:visited {
    color: inherit;
}

#progress {
    border-radius: 10px;
    background: #f1f1f1;
    height: 100%;
}

.hidden {
    display: none;
}